@use "fonts.scss";

:root {
  --color: hsl(55, 9%, 75%);
  --primary: hsl(55, 91%, 46%);
  --background: hsl(20, 4%, 14%);
  --font: "Manrope", sans-serif;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background);
  font-family: var(--font);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  max-width: 500px;
  border: 1px solid black;
  padding: 16px;
}

.padding {
  padding-inline: 20px;
}

.flex {
  display: flex;
  gap: 20px;
}

.strong {
  font-weight: bold;
}

.alert {
  background-color: var(--primary);
  color: var(--background);
}

input {
  accent-color: var(--primary);
}
